<header>
    <div class="header-content">
        <h1>To-do List</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
        <button id="theme" type="button">Theme</button>
    </div>
</header>